
//https://fonts.google.com/specimen/Lobster+Two
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: 'Lobster Two', cursive;
    color: black;
    background-color: lemonchiffon;
}

.dark-mode{
    color: lemonchiffon;
    background-color: rgba(0,0,0,0.85);
    i{
        color: white;
    }
    h1{
        color: black;
        background-color: lemonchiffon;
    }
}

